$card-color: #0099CC;

section#bluetiles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 0;

    .card {
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
        background-color: $card-color;
        border-radius: 10px;
        width: 350px;
        height: 130px;

        .details {
            display: flex;
            flex-direction: column;


            h1 {
                color: #212121;
                font-size: 24px;
                font-weight: 400;
                line-height: 36px;
            }

            p {
                color: white;
                font-size: 17px;
                font-weight: 400;
                line-height: 25.5px;
            }
        }

        img {
            height: 100%;
        }
    }
}